.body {
    padding: 20px 40px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.list > div {
    height: 120px;
    text-align: center;
    width: 200px;
    background-color: rgb(223, 245, 245);
    border-radius: 20px;
}
.done {
    background-color: gray !important;
    opacity: 0.7;
}

.active {
    background-color: yellowgreen;
}